<div class="container">
  <div class="row">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">会員情報編集</h4>
    </div>
      <%= form_with model: @customer, url: public_customer_path(@customer.id), method: :patch do |f| %>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">氏名</label>
        <div class="col-sm-5">
          <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"姓" %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :first_name, id:"inputName", placeholder:"名" %><br>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">フリガナ</label>
        <div class="col-sm-5">
          <%= f.text_field :last_name_kana, id:"inputName", placeholder:"姓（カナ）" %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :first_name_kana, id:"inputName", placeholder:"名（メイ）" %><br>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">郵便番号</label>
        <div class="col-sm-9">
          <%= f.number_field :postal_code, id:"inputCode", placeholder:"郵便番号" %><br>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">住所</label>
        <div class="col-sm-9">
          <%= f.text_field :address, id:"inputAddress", placeholder:"住所" %><br>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">電話番号</label>
        <div class="col-sm-9">
          <%= f.number_field :telephone_number, id:"inputNumber", placeholder:"電話番号" %><br>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">メールアドレス</label>
        <div class="col-sm-9">
          <%= f.email_field :email, id:"inputEmail", placeholder:"メールアドレス" %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= f.submit "編集内容を保存", class:"btn btn-success" %>
        </div>
      <% end %>
        <div class="col-6">
          <%= link_to "退会する", public_unsubscribe_path(@customer.id), class:"btn btn-danger" %>
        </div>
      </div>
    </div>
</div>
