<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">商品編集</h4>
    </div>
      <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
        <div class="row">
          <label class="col-sm-4 col-form-label">商品画像</label>
          <div class="col-sm-8">
            <%= f.file_field :image, accept: "image/*" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">商品名</label>
          <div class="col-sm-8">
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"商品名", class:"form-control-sm" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">商品説明</label>
          <div class="col-sm-8">
            <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"商品説明", class:"form-control-lg" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">ジャンル</label>
          <div class="col-sm-8">
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), autofocus: true, id:"inputGenre", placeholder:"ジャンル", class:"form-control-sm" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">税抜価格</label>
          <div class="col-sm-8">
            <%= f.number_field :price, id:"inputPrice", placeholder:"税抜価格", class:"form-control-sm" %>円<br>
          </div>
        </div>
        <div class="row">
          <label class="col-form-label col-sm-4 pt-0">販売ステータス</label>
          <div class="col-sm-8">
            <div class="form-check">
              <label><%= f.radio_button :is_active, true, placeholder:"販売ステータス" %> 販売中</label>
              <label><%= f.radio_button :is_active, false, placeholder:"販売ステータス" %> 販売停止中</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 text-center">
            <%= f.submit '変更を保存', class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
  </div>
</div>