<div class="container">
  <div class="row no-gutters">
    <div class="col-10 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">商品一覧</h4>
    </div>
<div class="col-2 d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">
    <%= link_to  new_admin_item_path do %>
      <i class="fas fa-plus-circle fa-2x"></i>
    <% end %>
</div>
  </div>
    <table class="table">
      <thead>
      <tr class="table-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><u><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></u></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.is_active ? "販売中" : "販売停止中" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div clas="row">
      <div class="col-12">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>