<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">商品新規登録</h4>
    </div>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <div class="row">
        <label class="col-sm-4 col-form-label">商品画像</label>
        <div class="col-sm-8">
          <%= f.file_field :image, accept: "image/*", class: "w-100" %><br>
        </div>
      </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">商品名</label>
          <div class="col-sm-8">
            <%= f.text_field :name, placeholder:"商品名", class:"form-control-sm" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">商品説明</label>
          <div class="col-sm-8">
            <%= f.text_area :introduction, placeholder:"ここに説明文を記述します", class:"form-control-lg" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">ジャンル</label>
          <div class="col-sm-8">
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class:"form-control-sm" %><br>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-form-label">税抜価格</label>
          <div class="col-sm-8">
            <%= f.number_field :price, placeholder:1000, class:"form-control-sm" %>円<br>
          </div>
        </div>
        <div class="row">
          <label class="col-form-label col-sm-4 pt-0">販売ステータス</label>
          <div class="col-sm-8">
            <div class="form-check">
              <label>
                <%= f.radio_button :is_active, "販売中" %>
                <%= f.label :is_active, "販売中" %>
              </label>
              <label>
                <%= f.radio_button :is_active, "販売停止中" %>
                <%= f.label :is_active, "販売停止中" %>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 text-center">
            <%= f.submit '新規登録', class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>