<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">注文履歴一覧</h4>
    </div>
    <div class="col-6 text-center">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order|%>
          <tr>
            <td><%= link_to order.created_at.strftime('%Y/%m/%d'), admin_order_path(order.id) %></td>
            <td><%= order.name %></td>
            <td>
              <%= order.order_details.sum(:amount) %>
            </td>
            <td><%= order.status_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <%= paginate @orders %>
  </div>
</div>