<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">配送先編集</h4>
    </div>
  </div>
    <%= form_with model: @address, url: public_address_path(@address.id), method: :patch do |f| %>
    <div class="row mb-3">
      <label class="col-sm-4">郵便番号(ハイフンなし)</label>
      <div class="col-sm-8">
        <%= f.text_field :postal_code, autofocus: true, placeholder:"郵便番号"%><br>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-4">住所</label>
        <div class="col-sm-8">
          <%= f.text_field :address, placeholder: "住所" %><br>
        </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-4">宛名</label>
      <div class="col-sm-8">
        <%= f.text_field :name, placeholder: "宛名" %>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-sm-6">
        <%= f.submit "変更内容を保存", class:"btn btn-success" %>
      </div>
    </div>
    <% end %>
</div>