<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">ショッピングカート</h4>
    </div>
			<%= link_to "カートを空にする", public_destroy_all_path, method: :delete, class:"btn btn-danger btn-sm" %>
			<table border=1>
			  <thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					<% @cart_items.each do |cart_item| %>
						<tr>
							<td><%= cart_item.item.name %></td>
							<td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
							<td>
								<%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
									<%= f.select :amount, *[1..9] %>
									<%= f.submit "変更", class:"btn btn-success" %>
								<% end %>
							</td>
							<td><%= cart_item.subtotal.to_s(:delimited) %></td>
							<td><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></td>
							<% @total_amount += cart_item.subtotal %>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= link_to "買い物を続ける", public_root_path, class:"btn btn-primary" %>

			<table border=1>
				<tr>
					<td>合計金額</td><td><%= @total_amount.to_s(:delimited) %></td>
				</tr>
			</table>
			<% if @cart_items.any? %>
				<%= link_to "情報入力に進む", new_public_order_path, class:"btn btn-success ml-4" %>
			<% end %>
  </div>
</div>
