<div class="container">
  <div class="row">
    <div class="col-sm-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">注文情報入力</h4>
    </div>
      <%= form_with model: @order, url: public_confilm_path, method: :post do |f| %>
        <label>
          <strong>支払方法</strong>
        </label>
        <div>
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
        </div>

        <label>
          <strong>お届け先</strong>
        </label>
        <div>
          <%= f.radio_button :select_address, "0" %>
          <%= f.label :address_id, "ご自身の住所" %>
          <p>
            〒<%= @customer.postal_code %> <%= @customer.address %><br>
            <%= (@customer.last_name + @customer.first_name) %>
          </p>
        </div>
        <div>
          <%= f.radio_button :select_address, "1" %>
          <%= f.label :address_id, "登録済み住所から選択" %>
          <p><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></p>
        </div>
        <div>
          <%= f.radio_button :select_address, "2" %>
          <%= f.label :address_id, "新しいお届け先" %>
          <div class="row mb-3">
            <label class="col-sm-6">郵便番号(ハイフンなし)</label>
            <div class="col-sm-6">
              <%= f.number_field :postal_code, placeholder:"郵便番号" %>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-6">住所</label>
            <div class="col-sm-6">
              <%= f.text_field :address, placeholder:"住所" %>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-6">宛名</label>
            <div class="col-sm-6">
              <%= f.text_field :name, placeholder:"宛名" %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>